{% extends "/blog/base.html" %} {% block title %}Quote{% endblock %} {% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="{{ url_for('blog.home') }}">Quote</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">


                {% for category in categories %} {% for key,value in category.items() %} {% if key == 'parent' %}
                <li class="nav-item dropdown">
                    <a class="nav-link link-light dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ value }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for each in category['children'] %}
                        <li><a class="dropdown-item" href="#">{{ each }}</a></li> {% endfor %}
                    </ul>
                </li>
                {% endif %}{% endfor %}{% endfor %}

            </ul>

            <form class="d-flex">
                <input class="search form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>


            {% if user.get('first_name') %}
            <div class="dropdown">
                <a class="btn  dropdown" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="Avatar " alt="Avatar " src="{{ url_for('static', filename='images/profile_images/' + user.get('profile_image')) }}">
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li>
                        <p class="dropdown-header ">Signed in as <b>{{ user.get('first_name') }}</b></p>
                    </li>
                    <li><a class="dropdown-item " href="{{ url_for( 'user.posts_list', user_id=user.get('user_id')) }} ">Dashboard</a></li>
                    <li><a class="dropdown-item " href="{{ url_for( 'user.profile' ) }} ">Profile</a></li>
                    <li><a class="dropdown-item " href="# ">Write</a></li>
                    <li>
                        <hr class="dropdown-divider ">
                    </li>
                    <li><a class="dropdown-item text-danger " href="{{ url_for( 'blog.logout') }} ">Logout</a></li>
                </ul>
            </div>

            {% else %}

            <div class="butts d-grid gap-2 d-md-block">
                <a href="{{ url_for( 'blog.login') }} ">
                    <button type="submit " class="btn btn-sm btn-outline-secondary signin">Sign in</button>
                </a>

                <a href="{{ url_for( 'blog.register') }} ">
                    <button type="submit " class="btn btn-sm btn-outline-secondary ">Sign up</button>
                </a>
            </div>

            {% endif %}


        </div>

    </div>
</nav>

{% endblock %} {% block TRENDING %}

<div class="row mb-2 ">
    <div class="col-md-12 ">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
            <div class="col p-4 d-flex flex-column position-static ">
                <strong class="d-inline-block mb-2 text-dark ">Random Post</strong>
                <h3 class="mb-0 ">Coding is a Trap. Get Out.</h3>
                <div class="mb-1 text-muted ">Nov 12</div>
                <p class="card-text mb-auto ">Chasing skills to remain economically viable is just the beginning of the trap. Coding tends to pay significantly higher than most jobs, making a move to a project management position or management position is often lateral in compensation.</p>
                <a href="# " class="stretched-link ">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block ">
                <svg class="bd-placeholder-img " width="200 " height="250 " xmlns="http://www.w3.org/2000/svg " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false
                ">
                    <title>Placeholder</title>
                    <rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% " fill="#eceeef "
                        dy=".3em ">Thumbnail</text>
                </svg>

            </div>
        </div>
    </div>

</div>{% endblock %} {% block content %}
<div class="col-md-8 ">
    <h3 class="pb-4 mb-4 fst-italic border-bottom ">
        Latest Quotes
    </h3>

    <div class="row mb-2 ">
        <div class="col-md-12 ">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static ">
                    <strong class="d-inline-block mb-2 text-primary ">World</strong>
                    <h3 class="mb-0 ">Featured post</h3>
                    <div class="mb-1 text-muted ">Nov 12</div>
                    <p class="card-text mb-auto ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="# " class="stretched-link ">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block ">
                    <svg class="bd-placeholder-img " width="200 " height="250 " xmlns="http://www.w3.org/2000/svg " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false
                ">
                        <title>Placeholder</title>
                        <rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% "
                            fill="#eceeef " dy=".3em ">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static ">
                    <strong class="d-inline-block mb-2 text-primary ">World</strong>
                    <h3 class="mb-0 ">Featured post</h3>
                    <div class="mb-1 text-muted ">Nov 12</div>
                    <p class="card-text mb-auto ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="# " class="stretched-link ">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block ">
                    <svg class="bd-placeholder-img " width="200 " height="250 " xmlns="http://www.w3.org/2000/svg " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false
                ">
                        <title>Placeholder</title>
                        <rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% "
                            fill="#eceeef " dy=".3em ">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static ">
                    <strong class="d-inline-block mb-2 text-primary ">World</strong>
                    <h3 class="mb-0 ">Featured post</h3>
                    <div class="mb-1 text-muted ">Nov 12</div>
                    <p class="card-text mb-auto ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="# " class="stretched-link ">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block ">
                    <svg class="bd-placeholder-img " width="200 " height="250 " xmlns="http://www.w3.org/2000/svg " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false
                ">
                        <title>Placeholder</title>
                        <rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% "
                            fill="#eceeef " dy=".3em ">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
        <div class="col-md-12 ">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static ">
                    <strong class="d-inline-block mb-2 text-primary ">World</strong>
                    <h3 class="mb-0 ">Featured post</h3>
                    <div class="mb-1 text-muted ">Nov 12</div>
                    <p class="card-text mb-auto ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="# " class="stretched-link ">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block ">
                    <svg class="bd-placeholder-img " width="200 " height="250 " xmlns="http://www.w3.org/2000/svg " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false
                ">
                        <title>Placeholder</title>
                        <rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% "
                            fill="#eceeef " dy=".3em ">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>

        <div class="col-md-12 ">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static ">
                    <strong class="d-inline-block mb-2 text-primary ">World</strong>
                    <h3 class="mb-0 ">Featured post</h3>
                    <div class="mb-1 text-muted ">Nov 12</div>
                    <p class="card-text mb-auto ">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                    <a href="# " class="stretched-link ">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block ">
                    <svg class="bd-placeholder-img " width="200 " height="250 " xmlns="http://www.w3.org/2000/svg " role="img " aria-label="Placeholder: Thumbnail " preserveAspectRatio="xMidYMid slice " focusable="false
                ">
                        <title>Placeholder</title>
                        <rect width="100% " height="100% " fill="#55595c "></rect><text x="50% " y="50% "
                            fill="#eceeef " dy=".3em ">Thumbnail</text>
                    </svg>

                </div>
            </div>
        </div>
    </div>

    <nav class="blog-pagination " aria-label="Pagination ">
        <a class="btn btn-outline-primary " href="# ">Back</a>
        <a class="btn btn-outline-secondary disabled " href="# " tabindex="-1 " aria-disabled="true ">Next</a>
    </nav>

</div>
{% endblock %} {% block sidebar %}
<div class="position-sticky " style="top: 2rem; ">
    <div class="p-4 mb-3 bg-light rounded ">
        <h4 class="fst-italic ">About Us</h4>
        <p class="mb-0 text"><b>Hello people of earth!</b> We are three friends learning how to develop a website using
            <b>flask</b> framework on a bootcamp named MaktbSharif and this is our first project together as a team, Please let us know if you think of anyway to improve our site, and Make yourselves at home :D
        </p>
    </div>

    <div class="p-4 ">
        <h4 class="fst-italic ">TOPICS YOU MIGHT LIKE</h4>
        <ol class="list-unstyled mb-0 ">
            {% for category in categories %}
            <li><a href="# ">{{ category['parent'] }}</a></li>
            {% endfor %}
        </ol>
    </div>

    <div class="p-4 ">
        <h4 class="fst-italic ">Contact Us</h4>
        <ol class="list-unstyled ">
            <li><a href="https://github.com/Saeedahmadi7714/quote ">GitHub</a></li>
        </ol>
    </div>
</div>
{% endblock %} {% block footer %} {% endblock %}