<!DOCTYPE html>
<html lang="">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Bootstrap cdn-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--JQuery cdn-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/blog.css') }}">
    <!--Shabnam font-->
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/shabnam-font@v5.0.1/dist/font-face.css" rel="stylesheet"
          type="text/css"/>

    <title>Dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body class="mobile smallscreen">
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <h1 class="main-title text-center" style="font-family:sans-serif;">Dashboard</h1>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h3><i class="far fa-file-alt"></i> Blog posts</h3>
                        </div>
                        <!-- end card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="min-width: 250px">Article details</th>
                                        <th style="width:600px">Title</th>
                                        <th style="width:100px">Category</th>
                                        <th style="min-width:100px">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="blog_list"><img class="img-fluid d-none d-lg-block" alt="image"
                                                                        src="https://via.placeholder.com/180x120"></div>
                                        </td>
                                        <td>

                                            <h4>Title</h4>


                                        </td>


                                        <td>Blog</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Active
                                                </label>
                                            </div>
                                            <br>
                                            <a href="#" class="btn btn-primary btn-sm btn-block"><i
                                                    class="far fa-edit"></i> Edit</a>
                                            <a href="#" class="btn btn-danger btn-sm btn-block"
                                               style="background-color: #ff5d48"><i class="fas fa-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="blog_list"><img class="img-fluid d-none d-lg-block" alt="image"
                                                                        src="https://via.placeholder.com/180x120"></div>
                                        </td>
                                        <td>
                                            <h4>Title</h4>
                                        </td>
                                        <td>Blog</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Active
                                                </label>
                                            </div>
                                            <br>
                                            <a href="#" class="btn btn-primary btn-sm btn-block"><i
                                                    class="far fa-edit"></i> Edit</a>
                                            <a href="#" class="btn btn-danger btn-sm btn-block"
                                               style="background-color: #ff5d48"><i
                                                    class="fas fa-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="blog_list"><img class="img-fluid d-none d-lg-block" alt="image"
                                                                        src="https://via.placeholder.com/180x120"></div>
                                        </td>
                                        <td>
                                            <h4>Title</h4>
                                        </td>
                                        <td>News</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Active
                                                </label>
                                            </div>
                                            <br>
                                            <a href="#" class="btn btn-primary btn-sm btn-block"><i
                                                    class="far fa-edit"></i> Edit</a>
                                            <a href="#" class="btn btn-danger btn-sm btn-block"
                                               style="background-color: #ff5d48"><i
                                                    class="fas fa-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="blog_list"><img class="img-fluid d-none d-lg-block" alt="image"
                                                                        src="https://via.placeholder.com/180x120"></div>
                                        </td>
                                        <td>
                                            <h4>Title</h4>
                                        </td>
                                        <td>News</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Active
                                                </label>
                                            </div>
                                            <br>
                                            <a href="#" class="btn btn-primary btn-sm btn-block"><i
                                                    class="far fa-edit"></i> Edit</a>
                                            <a href="#" class="btn btn-danger btn-sm btn-block"
                                               style="background-color: #ff5d48"><i
                                                    class="fas fa-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="blog_list"><img class="img-fluid d-none d-lg-block" alt="image"
                                                                        style="max-width:180px; height:auto;"
                                                                        src="https://via.placeholder.com/180x120"></div>
                                        </td>
                                        <td>
                                            <h4>Title</h4>
                                        </td>
                                        <td>News</td>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Active
                                                </label>
                                            </div>
                                            <br>
                                            <a href="#" class="btn btn-primary btn-sm btn-block"><i
                                                    class="far fa-edit"></i> Edit</a>
                                            <a href="#" class="btn btn-danger btn-sm btn-block"
                                               style="background-color: #ff5d48"><i
                                                    class="fas fa-trash">
                                            </i> Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>