{% extends "/blog/base.html" %}
{% block banner %}{% endblock %}
{% block title %} Dashboard {% endblock %}

{% for category in categories %}
{% for key,value in category.items() %}
{% if key == 'parent' %}{% endif %}
{% endfor %}
{% endfor %}

{% block content %}
<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-12">
                    <div class="breadcrumb-holder">
                        <a class="navbar-brand " href="{{ url_for('blog.home') }}">Home</a>
                        <h5 class="main-title text-center" style="font-family:sans-serif;">
                            Hello {{ first_name }} this is your dashboard
                        </h5>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card mb-3">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th style="min-width: 50px">Post Image</th>
                                <th style="width:400px">Title</th>
                                <th style="width:150px">Category</th>
                                <th style="min-width:200px">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for post in user_posts %}
                            <p hidden id="postId">{{ post.id }}</p>
                            <!--                            <div id="div1">-->
                            <div>
                                <tr id="{{ post.id }}">
                                    <td>
                                        <div class="blog_list ">
                                            <img class=" img-fluid d-none d-lg-block " alt="image" ,
                                                 style="height: 100px; width: 150px;"
                                                 src="{{ url_for('static', filename='images/posts_images/' + post.image) }}"/>
                                        </div>
                                    </td>
                                    <td>

                                        <h6 style="text-align: center; color:#0d6efd;">{{ post.title }}</h6>


                                    </td>
                                    <td>{{ post.categories[0]['children'] }}</td>
                                    <td>
                                        {% if post.status == true %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="active-btn" checked>
                                            <label class="form-check-label" for="active-btn">Active</label>
                                        </div>
                                        {% else %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value=""
                                                   id="active-btn">
                                            <label class="form-check-label" for="active-btn">Active</label>
                                        </div>
                                        {% endif %}
                                        <br>

                                        <a href="{{ url_for( 'user.edit_post', post_id = post.id ) }}"
                                           class="btn btn-primary btn-sm btn-block"><i class="far fa-edit"></i>
                                            Edit</a>
                                        <a class="btn btn-danger btn-sm btn-block"
                                           style="background-color: #ff5d48" id="delete-btn">
                                            <i class="fas fa-trash"></i>Delete</a>

                                    </td>
                                </tr>
                            </div>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/active_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_post.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

{% endblock %}