{% extends "/user/base.html" %}
{% block title %} Sign in {% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form method="POST" enctype="multipart/form-data" action="{{ url_for('blog.login') }}">

                    <h3>
                        Sign in
                    </h3>

                    <label>
                        <p class="label-txt">Email address</p>
                        <input type="text" name="email" id="email" class="input">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>


                    <label>
                        <p class="label-txt">Password</p>
                        <input type="password" name="password" id="password" class="input">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>

                    <button type="submit"> Sing in </button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}