body {

    margin-bottom: 50px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 250px;
    height: 200px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.Avatar {
    border-radius: 50%;
    width: 60px;
    margin-left: 10px;
}

.banner {
    background-color: #3C8DAD;
    height: 250px;
    display: flex;
    justify-content: center;
}

.text,
.card-text {
    text-align: justify;
    text-justify: auto;
}

.navbar {
    margin-bottom: 10px;
}

.dropdown {
    padding: 0;
}

.search {
    margin-top: 7px;
    height: 25px;
}

.butts {
    margin-top: 5px;
}

/*.navbar-brand {*/
/*    font-family: "Serif";*/
/*}*/

