body {
    font-family: "Shabnam", serif;
    margin-bottom: 50px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.Avatar {
    border-radius: 50%;
    width: 60px;
}

.banner {
    background-color: #3C8DAD;
}

.text {
    text-align: justify;
    text-justify: auto;
}

.navbar {
    margin-bottom: 10px;
}

.dropdown {
    padding-right: 10px;
}

.butts {
    padding-right: 10px;
}